* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 2;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: lightblue;
}
p {
  color: #555;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.btn {
  display: inline-block;
  background: #474645;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
}
.header {
  background: radial-gradient(#fff, grey);
}
h1 {
  color: lightblue;
}

footer {
  background-color: rgba(173, 216, 230); 
  color: #ffffff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

header {
  background-color: rgba(34, 34, 34, 0.8); 
  color: #fff;
  padding: 20px;
  text-align: center;
}
nav {
  display: flex;
  justify-content: center;
  background-color: rgba(68, 68, 68, 0.8); 
  padding: 10px;
}
nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}
nav a:hover {
  color: lightblue;
}

main {
  color: lightblue;
}
.country-container {
    position: relative;
    display: inline-block;
    width: 200px;
}

#countryInput {
    width: 100%;
    padding: 8px;
}

#countrySelect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

